<!--
Esta es la página principal donde se muestra alguna información de interés via una api externa
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="home-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 10%;
}
    </style>

    <iron-ajax
      id="getApiAjax"
      auto
      url="http://quotes.rest/qod.json?category=inspire"
      method="get"
      handle-as="json"
      on-response="handleQuoteResponse">
    </iron-ajax>

<!-- la api key expira el 17/08/18-->
    <iron-ajax
      id="getWeatherAjax"
      auto
      url="http://api.worldweatheronline.com/premium/v1/weather.ashx?key=4ab7de75e36e4122905175724181806&q=[[ciudad]]&num_of_days=2&tp=24&format=json&showmap=yes&lang=es"
      method="get"
      handle-as="json"
      on-response="handleWeatherResponse">
    </iron-ajax>

    <div class="card">
      <h1>Cita del día:</h1>
      <blockquote>[[cita]]</blockquote>
    </div>

    <div class="card">
      <h1>Consulta el tiempo en tu ciudad:</h1>
      <paper-input-container>
        <label slot="input">Ciudad</label>
        <iron-input slot="input" bind-value="{{ciudad}}">
          <input id="ciudad" type="text" value="{{ciudad}}" placeholder="Quiero saber el tiempo en ...">
        </iron-input>
      </paper-input-container>

        <blockquote>Mi consulta: [[query]]<IMG SRC="[[icono]]" align="right"></blockquote>
        <blockquote>Actual: [[corriente.temp_C]]º</blockquote>
        <blockquote>Temperatura Máxima: [[weather.maxtempC]]º</blockquote>
        <blockquote>Temperatura Mínima: [[weather.mintempC]]º</blockquote>
        <blockquote>Situacion: [[situacion]]</blockquote>
    </div>

  </template>

  <script>
    class HomePage extends Polymer.Element {
      static get is() { return 'home-page'; }
      static get properties() {
        return {
          cita : String,
          corriente : Object,
          weather : Object,
          ciudad : String,
          query : String,
          situacion : String,
          icono: String
        }
      }

      llamaApiCitas() {
        //Si la API es más compleja habría que modificar la llamada
        this.$.getApiAjax.generateRequest();
      }
      handleQuoteResponse(data) {
        this.cita = data.detail.response.contents.quotes[0].quote;
      }
      handleWeatherResponse(data) {
        if(this.ciudad){
          console.log(data.detail.response.data);
          this.situacion = data.detail.response.data.current_condition[0].lang_es[0].value;
          this.corriente = data.detail.response.data.current_condition[0];
          this.query = data.detail.response.data.request[0].query;
          this.weather = data.detail.response.data.weather[0];
          this.icono = data.detail.response.data.current_condition[0].weatherIconUrl[0].value;
        }
      }
    }

    window.customElements.define(HomePage.is, HomePage);
  </script>
</dom-module>
