<!--
mi posición.html
se muestra la posición inicial del cliente
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mi-posicion">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      #listado {
        height:400px;
        overflow-y: scroll;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
      paper-spinner.centered {
        position: card;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      paper-button.custom {
        --paper-button-ink-color: var(--paper-indigo-a200);
        /* These could also be individually defined for each of the
          specific css classes, but we'll just do it once as an example */
        --paper-button-flat-keyboard-focus: {
          background-color: var(--paper-indigo-a200);
          color: white !important;
        };
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-indigo-a200) !important;
          color: white !important;
        };
      }
      paper-button.custom:hover {
        background-color: var(--paper-indigo-100);
      }
      paper-button.indigo {
        color: var(--paper-indigo-a200);
      }
    </style>

    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <app-location route="{{route}}"></app-location>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountID" value="{{aid}}"></brum-global-variable>
    <brum-global-variable key="pagina" value="{{page}}"></brum-global-variable>

    <iron-ajax
      id="actualizaMiPosicionAjax"
      method="GET"
      url="https://localhost:3443/apicaras/users/{{storedUser.uid}}/accounts"
      handle-as="json"
      loading="{{cargando}}"
      on-error="handleErrorActualiza"
      on-response="handleResponseActualiza"></iron-ajax>

    <iron-ajax
      id="creaCuentaAjax"
      method="POST"
      url="https://localhost:3443/apicaras/users/{{storedUser.uid}}/accounts"
      handle-as="json"
      loading="{{cargando}}"
      on-error="handleErrorCrea"
      on-response="handleResponseCrea"></iron-ajax>

    <div class="card">
        <h1>Mi Posición</h1>

        <div hidden$="[[!storedUser.loggedin]]">
          <p>Hola [[storedUser.first_name]]! Ésta es tu posición actual en Banco CaraS:</p>

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-button class="primary" raised on-tap="miPerfil">Accede a tu perfil</paper-button>
          <paper-button class="primary" raised on-tap="creaCuenta">Crea una nueva cuenta</paper-button>

          <h1>Sus cuentas</h1>

          <div class=card id=listado>
            <template is="dom-repeat" items="{{accounts}}">
             <!--h3>IBAN - <a href="[[rootPath]]mis-movimientos\?aid={{item.aid}}">{{item.IBAN}}</a>&nbsp;&nbsp;&nbsp;&nbsp;Saldo: {{item.saldo}}</h3-->
             <h3>IBAN -{{item.IBAN}}</a>&nbsp;&nbsp;&nbsp;&nbsp;Saldo: {{item.saldo}}</h3-->
             <paper-button class="custom indigo"  on-tap="misMovimientos"><iron-icon icon="icons:account-balance"></iron-icon>Ir</paper-button>
           </template>
          <paper-spinner class= centered alt="Cargando cuentas..." active="[[cargando]]"></paper-spinner>
         </div>
        </div>

        <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]registro-login">logarte</a> para acceder a tu posición</p>
    </div>
  </template>

  <script>
    class MiPosicion extends Polymer.Element {
      static get is() { return 'mi-posicion'; }
      static get properties() {
        return {
          uid: Number,
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          accounts: Array,
          aid: Number,
          storedUser: Object,
          error: String
        };
      }

      //Usado para capturar cambios de pagina y actualizar datos del nuevo cliente por si quedan en el cache
      _pageChanged(newValue, oldValue) {
        console.log("El valor de page ha cambiado");
        console.log("El valor page  antiguo era " + oldValue);
        console.log("El valor page nuevo es " + newValue);
        this.actualizaPosicion();
     }

      initStoredUser() {
        //Si se ha entrado al site en la página de posición se comprueba si logado y si ok se precarga posición
        if (this.storedUser.loggedin) {
          this.error = '';
          this.actualizaPosicion();
        }
      }

      actualizaPosicion() {
        //añade el token de autorización y genera la petición Ajax
        if (this.storedUser) {
          this.acounts=[];
          this.$.actualizaMiPosicionAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.actualizaMiPosicionAjax.generateRequest();
        }
      }

      miPerfil() {
        //tras logarse redirige a la página de mi-posicion
        this.set('route.path', '/mi-perfil');
      }

      misMovimientos(event) {
        //tras logarse redirige a la página de mi-posicion
        console.log("modelo aid");
        console.log(event.model.item.aid);
        this.aid= event.model.item.aid;
        //console.log("boton aid " + this.aid);
        this.set('route.path', '/mis-movimientos');
      }

      creaCuenta() {
        //añade el token de autorización y genera la petición Ajax
        this.$.creaCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.creaCuentaAjax.generateRequest();
      }

      handleResponseActualiza(data){
        //Trata los datos de la respuesta para poder mostrarlos
       console.log("Recibidos datos de cuentas");
       console.log(data.detail.response);
       this.error = '';
       this.accounts = data.detail.response;
     }

     handleErrorActualiza(event) {
      this.accounts = [];
      this.accounts.length = 0;
       console.log(event);
       if(event.detail.request.xhr.response) {
         this.error = event.detail.request.xhr.response.msg;
       }else{
         this.error = event.detail.request.xhr.statusText + ": El token ha caducado";
       }
     }

     handleResponseCrea(data){
       //Trata los datos de la respuesta para poder mostrarlos
      console.log("Cuenta creada");
      console.log(data.detail.response);
      this.error = '';
      this.actualizaPosicion();

    }
    //Propago el error del backend
    handleErrorCrea(event) {
      console.log(event);
      if(event.detail.request.xhr.response) {
        this.error = event.detail.request.xhr.response.msg;
      }else{
        this.error = event.detail.request.xhr.statusText + ": El token ha caducado";
      }
    }

   }
   window.customElements.define(MiPosicion.is, MiPosicion);
  </script>
</dom-module>
