<!--
Esta página muestra el perfil del cliente y permite modificarlo
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="mi-perfil">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      .wrapper-btns{
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
      .alert-info {
        background: #fff;
        border: 1px solid #212121;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
    </style>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="pagina" value="{{page}}"></brum-global-variable>

    <iron-localstorage
    name="user-storage"
    value="{{storedUser}}"
    on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <iron-ajax
      id="modificarPerfilAjax"
      method="PUT"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <div class="card">
        <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
          <h1>Mi Perfil</h1>

        <p><strong>Estos son tus datos en el Banco CaraS</strong></p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <template is="dom-if" if="[[info]]">
          <p class="alert-info"><strong></strong> [[info]]</p>
        </template>

        <paper-input-container  always-float-label>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.first_name}}">
            <input id="first_name" type="text" value="{{formData.first_name}}" placeholder="{{storedUser.first_name}}" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container  always-float-label>
          <label slot="input">Apellido</label>
          <iron-input slot="input" bind-value="{{formData.last_name}}">
            <input id="last_name" type="text" value="{{formData.last_name}}" placeholder="{{storedUser.last_name}}" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container  always-float-label>
          <label slot="input">Email</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input id="email" type="email" value="{{formData.email}}" placeholder="{{storedUser.email}}" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container  always-float-label>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Nueva contraseña" required>
          </iron-input>
        </paper-input-container>


        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="modificarPerfil">Modificar Perfil</paper-button>
        </div>
      </div>
      <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]registro-login">logarte</a> para acceder a tu perfil</p>
    </div>
  </template>

  <script>
    class MiPerfil extends Polymer.Element {
      static get is() { return 'mi-perfil'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          error: String,
          info: String,
          storedUser: Object,
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          }
        };
      }

      //Usado para capturar cambios de pagina y borrar mensajes de error e info antiguos
      _pageChanged(newValue, oldValue) {
        console.log("El valor de page ha cambiado");
        console.log("El valor page  antiguo era " + oldValue);
        console.log("El valor page nuevo es " + newValue);
        this.error = "";
        this.info = "";
     }

      initStoredUser() {
        //Si está logado cuando entra en perfil se precarga el formulario con los datos almacenados
        if (this.storedUser.loggedin) {
          this.error = '';
          this.info = '';
          this.formData = {
            first_name: this.storedUser.first_name,
            last_name: this.storedUser.last_name,
            email: this.storedUser.email
          };
        }
      }

      _setReqBody() {
        //Construyo el objeto formData para meter en el body del put de modificacion
        console.log("datos formulario nombre: " + this.formData.first_name);
        this.$.modificarPerfilAjax.body=this.formData;
      }

      modificarPerfil() {
        if(this.formData.first_name && this.formData.last_name && this.formData.password && this.formData.email){
          //añade el token de autorización y genera la petición Ajax
          this.$.modificarPerfilAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this.$.modificarPerfilAjax.url='https://localhost:3443/apicaras/users/' + this.storedUser.uid;
          this._setReqBody();
          this.$.modificarPerfilAjax.generateRequest();
        }else{
          this.error = "Debe completar todos los campos";
        }
      }

      handleUserResponse(event) {
        console.log(event);
        var response = JSON.parse(event.detail.response);
        //si todo ok
        this.error = '';
        if (response.msg == "Usuario modificado") {
          this.storedUser = {
            email: this.formData.email,
            first_name: this.formData.first_name,
            last_name: this.formData.last_name,
            id_token: response.id_token,
            access_token: response.access_token,
            uid: response.uid,
            loggedin: true
          };
          this.info ="El usuario ha sido modificado";
        }
      }

      handleUserError(event) {
        console.log(event);
        this.info = '';
        if(event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response.msg;
        }else{
          this.error = event.detail.request.xhr.statusText;
        }
      }
    }

    window.customElements.define(MiPerfil.is, MiPerfil);
  </script>
</dom-module>
