<!--
mis movimientos.html
se muestran el detalle de la cuenta con los movimientos
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="ciclo-vida.html">

<dom-module id="mis-movimientos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      #listado {
        height:230px;
        overflow-y: scroll;
      }
      paper-radio-button.reintegro {
        --paper-radio-button-checked-color: var(--paper-red-500);
        --paper-radio-button-checked-ink-color: var(--paper-red-500);
        --paper-radio-button-unchecked-color: var(--paper-red-900);
        --paper-radio-button-unchecked-ink-color: var(--paper-red-900);
        --paper-radio-button-label-color: var(--paper-red-500);
      }
      paper-radio-button.ingreso {
        --paper-radio-button-checked-color: var(--paper-green-500);
        --paper-radio-button-checked-ink-color: var(--paper-green-500);
        --paper-radio-button-unchecked-color: var(--paper-green-900);
        --paper-radio-button-unchecked-ink-color: var(--paper-green-900);
        --paper-radio-button-label-color: var(--paper-green-500);
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
      paper-spinner.centered {
        position: card;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>


    <iron-localstorage
      name="user-storage"
      value="{{storedUser}}"
      on-iron-localstorage-load="initStoredUser"></iron-localstorage>

    <app-location route="{{route}}"></app-location>

    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="accountID" value="{{aid}}"></brum-global-variable>
    <brum-global-variable key="pagina" value="{{page}}"></brum-global-variable>

    <iron-ajax
      id="actualizaMisMovimientosAjax"
      method="GET"
      url="https://localhost:3443/apicaras/users/{{storedUser.uid}}/accounts/{{aid}}/movements"
      handle-as="json"
      on-error="handleErroractualizaMisMovimientos"
      loading="{{cargando}}"
      on-response="handleResponseActualizaMisMovimientos"></iron-ajax>

    <iron-ajax
      id="creaMovimientoAjax"
      method="POST"
      content-type="application/json"
      url="https://localhost:3443/apicaras/users/{{storedUser.uid}}/accounts/{{aid}}/movements"
      handle-as="text"
      on-error="handleErrorCreaMovimiento"
      loading="{{cargando}}"
      on-response="handleResponseCreaMovimiento"></iron-ajax>

      <iron-ajax
        id="actualizaMiCuentaAjax"
        method="GET"
        url="https://localhost:3443/apicaras/users/{{storedUser.uid}}/accounts/{{aid}}"
        handle-as="json"
        on-response="handleResponseActualizaMiCuenta"></iron-ajax>


    <div class="card">
        <h1>Detalle de la cuenta</h1>

        <div hidden$="[[!storedUser.loggedin]]">
          <p>Hola [[storedUser.first_name]]! El saldo de tu cuenta <strong>[[iban]]</strong> es de: <strong>[[saldo]]</strong> euros</p>

          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-button class="primary" raised on-tap="miPerfil">Accede a tu perfil</paper-button>

          <h1>Alta de Movimientos</h1>
          <paper-input-container always-float-label>
            <label id=importe slot="input">Importe del movimiento</label>
            <iron-input slot="input" bind-value="{{formData.importe}}">
              <input id="importe" type="number" value="{{formData.importe}}" required>
            </iron-input>
          </paper-input-container>

<!--Hemos dedicido que nuestra lógica es que  la fecha no se fija en el front sino en el back y la pone al día de hoy -->
          <!--paper-input-container always-float-label>
            <label id=fecha slot="input">Fecha del movimiento</label>
            <iron-input slot="input" bind-value="{{formData.fecha}}">
              <input id="tipo" type="date" value="{{formData.fecha}}" required>
            </iron-input>
          </paper-input-container-->


          <label id=tipo>Tipo de movimiento:</label>
          <paper-radio-group selected={{formData.tipo}}>
            <paper-radio-button class="ingreso" name="I">Ingreso</paper-radio-button>
            <paper-radio-button class="reintegro" name="R">Reintegro</paper-radio-button>
          </paper-radio-group>

          <paper-button class="primary" raised on-tap="creaMovimiento">Crea un nuevo movimiento</paper-button>

          <h1>Listado de Movimientos</h1>
          <div class=card id=listado>
            <template is="dom-repeat" items="{{movements}}">
             <h3>Importe: {{item.importe}}&nbsp;&nbsp;&nbsp;&nbsp;Tipo: {{item.tipo}}&nbsp;&nbsp;&nbsp;&nbsp;Fecha: {{item.fecha}}</h3>
           </template>
           <paper-spinner class= centered alt="Cargando el movimientos..." active="[[cargando]]"></paper-spinner>
         </div>
        </div>

        <p hidden$="[[storedUser.loggedin]]">Debes <a href="[[rootPath]]registro-login">logarte</a> para acceder a tus movimientos</p>
    </div>
  </template>

  <script>
    class MisMovimientos extends Polymer.Element {
      static get is() { return 'mis-movimientos'; }
      static get properties() {
        return {
          importe: Number,
          tipo: String,
          fecha: Date,
          aid: {
            type: Number,
            observer: '_aidChanged'
          },
          iban: String,
          saldo: Number,
          movements: Array,
          storedUser: Object,
          formData: {
            type: Object,
            value: {}
          },
          error: String,
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged'
          }
        };
      }
      //Borrado de errores previos en transiciones de página
      _pageChanged(newValue, oldValue) {
        console.log("El valor de page ha cambiado");
        console.log("El valor page  antiguo era " + oldValue);
        console.log("El valor page nuevo es " + newValue);
        this.error = "";
        this.formData = {};
     }

      //usado para capturar cambios en la cuenta que se está visualizando
      _aidChanged(newValue, oldValue) {
        this.formData = {};
        console.log("El valor de aid ha cambiado");
        console.log("El valor antiguo era " + oldValue);
        console.log("El valor nuevo es " + newValue);
        this.actualizaMisMovimientos();
     }

//pruebas del ciclo de vida del webcomponent movimientos - se deja como ejemplo
//pero en produccion se borraría. lo usamos
//de cara a depurar borrado y muestra del array movimientos en cambios de cuenta

        constructor() {
            super();
            console.log("created");
          }

          ready() {
            super.ready();
            console.log("ready");
          }

          connectedCallback() {
            super.connectedCallback();
            console.log("attached");
          }

          disconnectedCallback() {
            super.disconnectedCallback();
            console.log("detached");
          }
          attributeChangedCallback(aid, oldValue, newValue) {
            super.attributeChangedCallback();
            console.log("attribute changed");
          }

//fin pruebas del cicle do vida del wc movimientos


      initStoredUser() {
        //Si se ha entrado al site en la página de posición se comprueba si logado y si ok se precarga posición
        if (this.storedUser.loggedin) {
          console.log ("aid de storedUser " + this.aid);
          this.actualizaMisMovimientos();
        }
      }

      actualizaMisMovimientos() {
        console.log ("aid de actualizaMisMovimientos" + this.aid);
        //añade el token de autorización y genera la petición Ajax
        this.$.actualizaMisMovimientosAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.actualizaMisMovimientosAjax.generateRequest();
      }

      borraCuenta() {
        console.log ("aid de borraCuenta " + this.aid);
        //añade el token de autorización y genera la petición Ajax
        this.$.borraCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.borraCuentaAjax.generateRequest();
      }

      miPerfil() {
        //tras logarse redirige a la página de mis-movimientos
        this.set('route.path', '/mi-perfil')
      }

      _setReqBody() {
        //Por ahora mando el objeto formData
        this.$.creaMovimientoAjax.body = this.formData;
        console.log (this.formData);
        console.log (this.iban);
      }

      creaMovimiento() {
        if (this.formData.tipo && this.formData.importe) {
          console.log ("aid de creaMovimiento " + this.aid);
          //añade el token de autorización y genera la petición Ajax
          //El backend debe actualizar el saldo tras una creación de movmiento correcta
          this.$.creaMovimientoAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
          this._setReqBody();
          this.$.creaMovimientoAjax.generateRequest();
        }else{
          this.error = "Debe completar todos los campos";
        }
      }

      actualizaMiCuenta() {
        console.log ("aid de actualizaMiCuenta " + this.aid);
        //añade el token de autorización y genera la petición Ajax
        this.$.actualizaMiCuentaAjax.headers['Authorization'] = 'Bearer ' + this.storedUser.access_token;
        this.$.actualizaMiCuentaAjax.generateRequest();
      }

      handleResponseActualizaMisMovimientos(data){
        //Trata los datos de la respuesta de consulta de movimientos para poder mostrarlos
       console.log("Recibidos datos de los movimientos");
       console.log(data.detail.response);
       this.error = '';
       this.movements = data.detail.response;
       this.actualizaMiCuenta();
     }

     handleResponseActualizaMiCuenta(data){
       //Trata los datos de la respuesta de consulta de movimientos para poder mostrarlos
      console.log("Recibidos datos de la cuenta");
      console.log(data.detail.response);
      this.error = '';
      this.iban = data.detail.response[0].IBAN;
      this.saldo = data.detail.response[0].saldo;
}

     handleResponseCreaMovimiento(data){
      console.log("Movimiento creado");
      console.log(data.detail.response);
      this.error = '';
      //this.movements.length = 0;
      this.actualizaMisMovimientos();
    }

    handleErrorCreaMovimiento(event){
      console.log(event);
      if(event.detail.request.xhr.response) {
        this.error = event.detail.request.xhr.response.msg;
        this.movements.length = 0;
        this.actualizaMisMovimientos();
      }else{
        this.error = event.detail.request.xhr.statusText;
      }

    }

    handleErroractualizaMisMovimientos(event){

      console.log(event);
      if(event.detail.request.xhr.response) {
        this.error = event.detail.request.xhr.response.msg;
        this.movements = [];
      }else{
        this.error = event.detail.request.xhr.statusText;
      }

   }

  }

   window.customElements.define(MisMovimientos.is, MisMovimientos);
  </script>
</dom-module>
