<!--
Aquí se controla la estructura del site
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="log-out.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="mi-posicion.html">
<link rel="lazy-import" href="mis-movimientos.html">
<link rel="lazy-import" href="registro-login.html">
<link rel="lazy-import" href="registro-inicial.html">
<link rel="lazy-import" href="log-out.html">
<link rel="lazy-import" href="not-found.html">


<dom-module id="my-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-header .greeting {
        app-header a {
          color #fff;
          font-size:  13px;
        }
      }
      app-header .greeting {
        border-right:1px solid rgba(255,255,255, 0.5);
        display: inline-block;
        padding-right: 6px;
      }

    </style>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
    <brum-global-variable key="pagina" value="{{page}}"></brum-global-variable>


    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <!-- Contenido del cajón lateral -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Bienvenido</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="home-page">
            <a href="[[rootPath]]home-page">Home</a>
          </div>
          <div name="mi-perfil" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]mi-perfil">Mi Perfil</a>
          </div>
          <div name="mi-posicion" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]mi-posicion">Mi Posición</a>
          </div>
        </iron-selector>
      </app-drawer>

      <!-- Contenido principal -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Banco CaraS</div>
            <a name="registro-login" href="[[rootPath]]registro-login" hidden$="[[storedUser.loggedin]]">Entrar  </a>
            <p>&nbsp;&nbsp;<a name="registro-inicial" href="[[rootPath]]registro-inicial" hidden$="[[storedUser.loggedin]]">Hacerse cliente</a></p>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Hola [[storedUser.first_name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <home-page name="home-page"></home-page>
          <registro-login name="registro-login"></registro-login>
          <registro-inicial name="registro-inicial"></registro-inicial>
          <mi-posicion name="mi-posicion"></mi-posicion>
          <mis-movimientos name="mis-movimientos"></mis-movimientos>
          <mi-perfil name="mi-perfil"></mi-perfil>
          <not-found name="not-found"></not-found>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Los eventos gestuales como tap y track no son evitables
    // Añadido para que responda mejor al scrolling
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object,
          accounts: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // Si no no hay ninguna página en la ruta especificada, la página será un string vacio
        // y se va por defecto a la home-page
        this.page = page || 'home-page';

        // Cierra el drawer no persistente cuando hay cambio de página y ruta
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Carga la páginas a demanda y si no la encuentra enseña la de not found
        console.log("Cambio de pagina detectado a: " + page);

        // this.accounts = [];
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'not-found';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
