cd<!--
Aquí se hace el login si ya se tiene usuario
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="registro-login">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns{
        margin-top: 15px;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      id="registroLoginAjax"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="card">
        <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
          <h1>Escribe tus credenciales</h1>

        <p><strong>Entra</strong> o <strong>Hazte Cliente para acceder al Banco CaraS</p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Correo electrónico</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input id="email" type="email" value="{{formData.email}}" placeholder="Correo electrónico" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña" required>
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postLogin">Entrar</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola [[storedUser.first_name]], encantado de volver a verte</h2>
        <p>Estás logado. Puedes acceder a <a href="[[rootPath]]mi-posicion">Mi posición</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>

  </template>

  <script>
    class RegistroLogin extends Polymer.Element {
      static get is() { return 'registro-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        }
      }

      _setReqBody() {
        //Por ahora mando el objeto formData - ver si se cambia entre registro y login
        this.$.registroLoginAjax.body=this.formData;
      }

      postLogin() {
        //Prueba con el endpoint por https
        this.$.registroLoginAjax.url= 'https://localhost:3443/apicaras/login';
        //Aquí estoy llamando al endpoint de login original
        //this.$.registroLoginAjax.url= 'http://localhost:3000/apicaras/login';
        this._setReqBody();
        this.$.registroLoginAjax.generateRequest();
      }

      handleUserResponse(event) {
        console.log(event);
        //var response = JSON.parse(event.detail.response);
        var response = event.detail.response;

        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            email: response.email,
            id_token: response.id_token,
            access_token: response.access_token,
            last_name: response.last_name,
            first_name: response.first_name,
            uid: response.uid,
            loggedin: true
          };
          //tras logarse redirige a la página de mi-posicion
          this.set('route.path', '/mi-posicion')
        }

        //reseta form data
        this.formData = {};
      }

      //Propago el error del backend
      handleUserError(event) {
        console.log(event);
        if(event.detail.request.xhr.response) {
          this.error = event.detail.request.xhr.response.msg;
        }else{
          this.error = event.detail.request.xhr.statusText;
        }
      }
    }

    window.customElements.define(RegistroLogin.is, RegistroLogin);
  </script>
</dom-module>
