<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="shared-styles.html">

<dom-module id="registro-inicial">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns{
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size:14px;
        padding:10px;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <iron-ajax
      id="registroinicialLoginAjax"
      method="POST"
      content-type="application/json"
      handle-as="text"
      on-response="handleUserResponse"
      on-error="handleUserError">
    </iron-ajax>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="card">
        <div id="unauthenticated" hidden$="[[storedUser.loggedin]]">
          <h1>Registro Inicial</h1>

        <p><strong>Rellena tus datos y hazte cliente del Banco CaraS</strong></p>

        <template is="dom-if" if="[[error]]">
          <p class="alert-error"><strong>Error:</strong> [[error]]</p>
        </template>

        <paper-input-container>
          <label slot="input">Nombre</label>
          <iron-input slot="input" bind-value="{{formData.first_name}}">
            <input id="first_name" type="text" value="{{formData.first_name}}" placeholder="Nombre">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Apellido</label>
          <iron-input slot="input" bind-value="{{formData.last_name}}">
            <input id="last_name" type="text" value="{{formData.last_name}}" placeholder="Apellido">
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Correo electrónico</label>
          <iron-input slot="input" bind-value="{{formData.email}}">
            <input id="email" type="email" value="{{formData.email}}" placeholder="Correo electrónico" required>
          </iron-input>
        </paper-input-container>

        <paper-input-container>
          <label slot="input">Contraseña</label>
          <iron-input slot="input" bind-value="{{formData.password}}">
            <input id="password" type="password" value="{{formData.password}}" placeholder="Contraseña">
          </iron-input>
        </paper-input-container>

        <div class="wrapper-btns">
          <paper-button raised class="primary" on-tap="postRegister">Hacerse cliente</paper-button>
        </div>
      </div>

      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
        <h2>Hola [[storedUser.first_name]], encantado de verte</h2>
        <p>Estás logado. Puedes acceder a <a href="[[rootPath]]mi-posicion">Mi posición</a>!</p>
        <log-out stored-user="{{storedUser}}"></log-out>
      </div>
    </div>

  </template>

  <script>
    class RegistroInicial extends Polymer.Element {
      static get is() { return 'registro-inicial'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        }
      }

      _setReqBody() {
        //Construyo el objeto formData para el registro inicial
        this.$.registroinicialLoginAjax.body=this.formData;
      }

      postRegister() {
        if(this.formData.first_name && this.formData.last_name && this.formData.password && this.formData.email){
          this.$.registroinicialLoginAjax.url='https://localhost:3443/apicaras/users'
          this._setReqBody();
          this.$.registroinicialLoginAjax.generateRequest();
        }else{
          this.error = "Debe completar todos los campos";
        }
      }

      handleUserResponse(event) {
        console.log(event);
        var response = JSON.parse(event.detail.response);

        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            email: response.email,
            first_name: response.first_name,
            last_name: response.last_name,
            id_token: response.id_token,
            access_token: response.access_token,
            uid: response.uid,
            loggedin: true
          };
          //tras logarse redirige a la página de mi-posicion
          //this.set('route.path', '/mi-posicion')
        }

        //reseta form data
        this.formData = {};
      }

      handleUserError(event) {
        console.log(event);
        this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(RegistroInicial.is, RegistroInicial);
  </script>
</dom-module>
